.error-page{
    &__content {
        width: 70%;
        margin: 15vh auto 0 auto;
        text-align: center;
        color: $color-primary;
        @include no-select;

        h1{
            font-size: 6rem;
            font-weight: 600;
            margin: 0px;

            @include desktop-only{
                font-size: 13rem;
            }
        }

        h2{
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 13vh;

            @include desktop-only{
                font-size: 2rem;
            }
        }
    }
}

.error__link{
    color: $color-primary;
        width: 90%;
        margin: auto;
        text-align: center;
}